<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>TIC-TAC-TOE</title>

	<!-- add stylesheet -->
	<link rel="stylesheet" type="text/css" href="assets/app.css">

	<!-- add jquery via cdn -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="javascripts/jquery-2.2.4.min.js"></script>

	<!-- add local scripts -->
	<script src="javascripts/game.js"></script>
</head>
<body>
	<header>
		<h1>TIC TAC TOE</h1>	
	</header>
	<section>
		<article id="pre-game">
			<!-- space to enter optional player names, start button -->
		</article>
		<article id="messages">
			<!-- instructions, whose turn it is, who won etc -->
		</article>
		<article id="board">
			<ul class="grid-row">
				<li><a href="#" id="1" class="square"></a></li>
				<li><a href="#" id="2" class="square"></a></li>
				<li><a href="#" id="3" class="square"></a></li>
			</ul>
			<ul class="grid-row">
				<li><a href="#" id="4" class="square"></a></li>
				<li><a href="#" id="5" class="square"></a></li>
				<li><a href="#" id="6" class="square"></a></li>
			</ul>
			<ul class="grid-row">
				<li><a href="#" id="7" class="square"></a></li>
				<li><a href="#" id="8" class="square"></a></li>
				<li><a href="#" id="9" class="square"></a></li>
			</ul>
			
		</article>
		
	</section>

	<footer>
		<!-- reset button? -->
		<!-- info about me/game/link to wikipedia -->
	</footer>
</body>
</html>
