body {
	background-color: teal;
}

h1 {
	font-family: sans-serif;
	font-weight: bolder;
	color: white;
	margin: 0 auto;
	text-align: center;
}

article#board {
	margin: 0 auto;
	background-color: white;

	ul.grid-row {
		background-color: khaki;
		display: block;
		float: left;
		height: 100px;
		width: 100%;

		li {
			background-color: teal;
			display: inherit;
			display: flex;
			height: 100%;
			width: 33%;

			a.square {
				display: inherit;
				background-color: purple;
				width: 20px;
				height: 20px;
			}
		}
	}
}