@primaryColor: dimgray;
@accentColor: ivory;
@neutralColor: gainsboro;
@subtleColor: darkgray;
@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);


body {
	background: url(pin-crosshatch.jpg);
	font-family: 'Covered By Your Grace', sans-serif;
}

h1, 
h2 {
	color: @primaryColor;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-weight: bold;
	font-size: 4em;
}

h2 {
	font-weight: normal;
	font-size: 2em;
	height: 2em;
}

#game-stage {
	margin: 0 auto;
	background-color: white;
	opacity: 1;
	&.game-off {
		pointer-events: none;
		opacity: .7;
	}

	ul#board {
		display: block;
		margin: 20px auto;
		padding: 0;
		width: 480px;

		li {
			background-color: @primaryColor;
			display: block;
			width: 160px;
			height: 160px;
			float: left;

			button.square {
				display: block;
				background-color: @neutralColor;
				border: 10px solid @primaryColor;
				width: 150px;
				height: 150px;
				margin: 5px;

				&.played {
					pointer-events: none;
					font-family: 'Covered By Your Grace', sans-serif;
					font-size: 6em;
					font-weight: bolder;
				}

				&.player1 {
					background-color: @subtleColor;
					color: @primaryColor;
					&:before {
						content: 'X';
					}
				}
				&.player2 {
					background-color: @accentColor;
					color: @primaryColor;
					&:before {
						content: 'O';
					}
				}
			}
		}
	}
}