@primaryColor: dimgray;
@accentColor: ivory;
@neutralColor: gainsboro;
@subtleColor: darkgray;

body {
	background: url(pin-crosshatch.jpg);
}

h1 {
	font-family: sans-serif;
	font-weight: bolder;
	color: @primaryColor;
	margin: 0 auto;
	text-align: center;
}

article#game-stage {
	margin: 0 auto;
	background-color: white;

	ul#board {
		display: block;
		margin: 20px auto;
		padding: 0;
		width: 480px;

		li {
			background-color: @primaryColor;
			display: block;
			width: 160px;
			height: 160px;
			float: left;

			input.square {
				display: block;
				background-color: @neutralColor;
				border: 10px solid @primaryColor;
				width: 150px;
				height: 150px;
				margin: 5px;

				&.played {
					outline: none;
					cursor: not-allowed;
				}

				&.player1 {
					background-color: @primaryColor;
				}
				&.player2 {
					background-color: @accentColor;
				}				
			}
		}
	}
}