@primaryColor: dimgray;
@accentColor: ivory;
@neutralColor: gainsboro;
@subtleColor: darkgray;
@singleSquareSize: 150px;
@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);


body {
	background: url(pin-crosshatch.jpg);
	font-family: 'Covered By Your Grace', sans-serif;
}

h1, 
h2 {
	color: @primaryColor;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-weight: bold;
	font-size: 4em;
}

h2 {
	font-weight: normal;
	font-size: 2em;
	height: 2em;
	padding: 0 10px; 
}

#game-stage {
	margin: 0 auto;
	background-color: white;
	opacity: 1;
	&.game-off {
		pointer-events: none;
		opacity: .7;
	}

	ul#board {
		display: block;
		margin: 20px auto;
		padding: 0;
		width: (@singleSquareSize + 10px) * 3;

		li {
			background-color: @primaryColor;
			display: block;
			width: @singleSquareSize + 10px;
			height: @singleSquareSize + 10px;
			float: left;

			button.square {
				display: block;
				background-color: @neutralColor;
				border: 10px solid @primaryColor;
				width: @singleSquareSize;
				height: @singleSquareSize;
				margin: 5px;

				&.played {
					pointer-events: none;
					font-family: 'Covered By Your Grace', sans-serif;
					font-size: 6em;
					font-weight: bolder;
				}

				&.player1 {
					background-color: @subtleColor;
					color: @primaryColor;
					&:before {
						content: 'X';
					}
				}
				&.player2 {
					background-color: @accentColor;
					color: @primaryColor;
					&:before {
						content: 'O';
					}
				}
			}
		}
	}
}


/*****************************************/
/* media queries */
/* for screens less than 599 px etc */
/*****************************************/


/* very small screens */
@media (max-width: 599px) {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.5em;
	}
	button.square.played {
		font-size: 4em;
	}



}